%h3
  Shelves / Reading lists
  .actions{style: "float: right"}
    = link_to 'home', root_path, class: :button

.pagination-info= page_entries_info @records
= paginate @records

%table.doujinshi.is-striped.block-links.w100
  %thead
    %tr
      %th.w1 Created at
      %th.w1 Dj
      %th.w1 Pag.
      %th{style: "text-align: left"} Name
  %tbody
    - @records.each do |r|
      %tr
        %td.nowrap= l r.created_at
        %td= r.doujinshi_shelves.count
        %td= r.num_images
        %td= link_to r.name, r

= paginate @records
