.title.is-size-4 Shelves / Reading lists

= page_entries_info @records

%table.table.is-striped.is-hoverable.is-fullwidth
  %thead
    %tr
      %th.w1 Created at
      %th.w1
        %span.icon.is-small(title="n. doujinshi")
          %i.mi.mi-small book
      %th.w1
        %span.icon.is-small(title="total n. pages")
          %i.mi.mi-small auto_stories
      %th Name
      %th.w1.has-text-centered Actions
  %tbody
    - @records.each do |r|
      %tr
        %td.nowrap= l r.created_at
        %td= r.doujinshi_shelves.count
        %td= r.num_images
        %td= link_to r.name, edit_shelf_path(r)
        %td
          .field.has-addons
            .control
              = link_to shelf_path(r, run: :comics_viewer, format: :json),
                  onclick: %Q|var bt=jQuery(this); bt.addClass('is-loading'); setTimeout(function(){ bt.removeClass('is-loading') }, 5000)|,
                  title: 'start slideshow',
                  remote: true, class: 'button is-info is-small is-rounded' do
                %span.icon.is-small
                  %i.mi.mi-small slideshow
            .control
              = link_to(edit_shelf_path(r), class: 'button is-small is-rounded') do
                %span.icon.is-small
                  %i.mi.mi-small edit
            .control
              = link_to(r, method: :delete, data: { confirm: 'Delete this record?' },
                class: 'button is-small is-rounded is-danger') do
                %span.icon.is-small
                  %i.mi.mi-small delete

= paginate @records
