%h1 Listing themes

%table
  %thead
    %tr
      %th Name
      %th Name romaji
      %th Name kana
      %th Name kakasi
      %th Url
      %th Info
      %th Aliases
      %th Links
      %th Parent
      %th
      %th
      %th

  %tbody
    - @themes.each do |theme|
      %tr
        %td= theme.name
        %td= theme.name_romaji
        %td= theme.name_kana
        %td= theme.name_kakasi
        %td= theme.url
        %td= theme.info
        %td= theme.aliases
        %td= theme.links
        %td= theme.parent_id
        %td= link_to 'Show', theme
        %td= link_to 'Edit', edit_theme_path(theme)
        %td= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Theme', new_theme_path
