%p#notice= notice

%p
  %b Name:
  = @theme.name
%p
  %b Name romaji:
  = @theme.name_romaji
%p
  %b Name kana:
  = @theme.name_kana
%p
  %b Name kakasi:
  = @theme.name_kakasi
%p
  %b Url:
  = @theme.url
%p
  %b Info:
  = @theme.info
%p
  %b Aliases:
  = @theme.aliases
%p
  %b Links:
  = @theme.links
%p
  %b Parent:
  = @theme.parent_id

= link_to 'Edit', edit_theme_path(@theme)
\|
= link_to 'Back', themes_path
