%h1 Listing authors

%table
  %thead
    %tr
      %th Name
      %th Name romaji
      %th Name kana
      %th Name kakasi
      %th Doujinshi org url
      %th Info
      %th Aliases
      %th Links
      %th
      %th
      %th

  %tbody
    - @authors.each do |author|
      %tr
        %td= author.name
        %td= author.name_romaji
        %td= author.name_kana
        %td= author.name_kakasi
        %td= author.doujinshi_org_url
        %td= author.info
        %td= author.aliases
        %td= author.links
        %td= link_to 'Show', author
        %td= link_to 'Edit', edit_author_path(author)
        %td= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Author', new_author_path
