%h3 browse doujinshi

= link_to 'catalog', doujinshi_path, class: 'button'

= link_to 'EPUB files', epub_doujinshi_path, class: 'button'

= link_to "favorites", favorites_doujinshi_path, class: 'button'

= link_to "!!top scored", '#', class: 'button'

%h3 random doujinshi

= link_to "!!random book", '#', class: 'button'

= link_to "!!random fav", '#', class: 'button'

= link_to "!!random top scored", '#', class: 'button'
