.actions{style: "float: right"}
  = link_to 'PC version', {format: :html}, class: :button

= form_with url: search_doujinshi_path, method: :get, class: 'frm-search' do |f|
  = f.text_field :term, placeholder: :search, size: 25
  = f.submit 'Search', class: 'button'

%h3 Browse collection
= link_to 'Catalog', doujinshi_path          , class: 'button'
= link_to 'Faves'  , favorites_doujinshi_path, class: 'button'
= link_to 'EPUBs'  , epub_doujinshi_path     , class: 'button'
= link_to 'Scored' , scored_doujinshi_path   , class: 'button'
= link_to 'Shelves', shelves_path, class: 'button'
- ext_lbl, ext_url = Setting[:external_link].to_s.split('|')
- if ext_lbl.present? && ext_lbl.present?
  = link_to ext_lbl, ext_url, class: 'button'

%h3 Single pick
= link_to 'Book' , random_pick_doujinshi_path(type: :book  ), class: 'button'
= link_to 'Faved', random_pick_doujinshi_path(type: :faved ), class: 'button'
= link_to 'Best Score' , random_pick_doujinshi_path(type: :scored), class: 'button'
- if s = Shelf.order(created_at: :desc).first
  = link_to 'Latest Shelf', shelf_path(s), class: 'button'

%h3 Scoring distribution

%table.scoring-distro
  %tr.bars
    %td
    - @scores.each_with_index do |pair, i|
      - score, data = pair
      - bar_size = (6 * data[:perc]).round 2
      %td
        .bar{style: "background-color: ##{HomeController::PALETTE[i]}; height: #{bar_size}rem"}
  %tr.percs
    %td %
    - @scores.each do |score, data|
      %td= '%.1f' % (data[:perc] * 100).round(2)
  %tr.scores
    %td score
    - @scores.each do |score, data|
      %td= score

%h3
  Application counters:
  = number_with_delimiter @stats[:dj], delimiter: "'"
  Doujinshi
  = "(#{number_to_human_size @stats[:dj_size]})"

= @stats[:dj_cat].map{|cat, n| "#{number_with_delimiter n, delimiter: "'"} #{cat.pluralize}" }.join ' | '

%hr

= number_with_delimiter @stats[:dj_fav], delimiter: "'"
Faved
\|
= number_with_delimiter @stats[:todo], delimiter: "'"
\/
= number_to_human_size @stats[:todo_size]
To process
\|
= @stats[:wip]
WIP
\|
= @stats[:epub]
EPUBs generated

%hr

= number_with_delimiter @stats[:md_tot], delimiter: "'"
Metadata /
= number_with_delimiter @stats[:mda], delimiter: "'"
Authors
\|
= number_with_delimiter @stats[:mdc], delimiter: "'"
Circles
\|
= number_with_delimiter @stats[:mdt], delimiter: "'"
Themes

