- if is_ereader_browser?
  .has-text-centered= link_to 'view ereader compatible pages', {format: :ereader},
    style: "display: inline-block; margin: 1rem 2rem 10rem 2rem; padding: 1rem; background-color: white; color: black; border: 2px outset silver; border-radius: 1rem;"



%ul
  %li TODO: top scored graph
  %li= link_to "TODO: view random book", '#', class: 'button is-info is-rounded'
  %li= link_to "TODO: view random fav", '#', class: 'button is-info is-rounded'
  %li= link_to "TODO: view random top scored", '#', class: 'button is-info is-rounded'

%hr

.tags
  .tags.has-addons.mr-4.mb-0
    %span.tag.is-info
      %span.icon-text
        %span.icon
          %i.mi book
        %span= number_with_delimiter @stats[:dj], delimiter: "'"
    %span.tag.is-link.is-light= link_to 'doujinshi', doujinshi_path
  
  .tags.has-addons.mr-4.mb-0
    %span.tag.is-info
      %span.icon-text
        %span.icon
          %i.mi auto_awesome
        %span= number_with_delimiter @stats[:dj_fav], delimiter: "'"
    %span.tag= link_to 'faved', favorites_doujinshi_path
  
.tags
  - @stats[:dj_cat].each do |cat, n|
    .tags.has-addons.mr-2.mb-0
      %span.tag.is-info= number_with_delimiter n, delimiter: "'"
      %span.tag= link_to cat.pluralize, doujinshi_path(tab: cat)

.tags
  .tags.has-addons.mr-4.mb-0
    %span.tag.is-info
      %span.icon-text
        %span.icon
          %i.mi swap_horiz
        %span= number_with_delimiter @stats[:todo], delimiter: "'"
    %span.tag.is-link.is-light= link_to 'process', process_index_path
  
  .tags.has-addons.mr-4.mb-0
    %span.tag.is-info
      %span.icon-text
        %span.icon
          %i.mi settings
        %span= @stats[:wip]
    %span.tag= link_to 'wip', process_index_path

  .tags.has-addons.mr-4.mb-0
    %span.tag.is-info
      %span.icon-text
        %span.icon
          %i.mi library_books
        %span= @stats[:epub]
    %span.tag= link_to 'epub', epub_doujinshi_path


.tags
  .tags.has-addons.mr-4.mb-0
    %span.tag.is-info
      %span.icon-text
        %span.icon
          %i.mi folder_shared
        %span= number_with_delimiter @stats[:md_tot], delimiter: "'"
    %span.tag.is-link.is-light metadata
  
.tags
  .tags.has-addons.mr-2.mb-0
    %span.tag.is-info
      %span.icon-text
        %span.icon
          %i.mi supervisor_account
        %span= number_with_delimiter @stats[:mda], delimiter: "'"
    %span.tag= link_to 'authors', authors_path
  .tags.has-addons.mr-2.mb-0
    %span.tag.is-info
      %span.icon-text
        %span.icon
          %i.mi supervised_user_circle
        %span= number_with_delimiter @stats[:mdc], delimiter: "'"
    %span.tag= link_to 'circles', circles_path
  .tags.has-addons.mr-2.mb-0
    %span.tag.is-info
      %span.icon-text
        %span.icon
          %i.mi local_offer
        %span= number_with_delimiter @stats[:mdt], delimiter: "'"
    %span.tag= link_to 'themes', themes_path
