- if is_ereader_browser?
  .has-text-centered= link_to 'view ereader compatible pages', {format: :ereader},
    style: "display: inline-block; margin: 1rem 2rem 10rem 2rem; padding: 1rem; background-color: white; color: black; border: 2px outset silver; border-radius: 1rem;"

.columns
  .column.has-text-centered.is-4-tablet
    %span.tag.is-hidden-mobile.mb-5 counters
    
    .tags-sums
      .tags.mb-0
        %span.tag.is-info.is-light
          %span.icon-text
            %span.icon
              %i.mi book
            %span
              = number_with_delimiter @stats[:dj], delimiter: "'"
              \/
              = number_to_human_size @stats[:dj_size], precision: 2, significant: false
        %span.tag.is-info
          %span.icon-text
            %span.icon
              %i.mi auto_awesome
            %span= link_to number_with_delimiter(@stats[:dj_fav], delimiter: "'"), favorites_doujinshi_path
            %span.pl-1 faves

    .tags-collection
      .tags.mb-0
        - @stats[:dj_cat].each do |cat, n|
          %span.tag.is-info
            %span.icon-text
              %span.icon
                %i.mi= DoujinshiController::ICONS[cat]
              %span= link_to number_with_delimiter(n, delimiter: "'"), doujinshi_path(tab: cat)

    .tags-processing-sums
      .tags.has-addons.mb-0
        %span.tag.is-info.is-light
          %span.icon-text
            %span.icon
              %i.mi swap_horiz
            %span
              = link_to process_index_path do
                = number_with_delimiter @stats[:todo], delimiter: "'"
                \/
                = number_to_human_size @stats[:todo_size], precision: 2, significant: false

    .tags-processing-count
      .tags.mb-0
        %span.tag.is-info
          %span.icon-text
            %span.icon
              %i.mi settings
            %span= link_to @stats[:wip], process_index_path
            %span.pl-1 WIP
        %span.tag.is-info
          %span.icon-text
            %span.icon
              %i.mi library_books
            %span= link_to @stats[:epub], epub_doujinshi_path
            %span.pl-1 ePub

    .tags
      .tags.mb-0
        -#%span.tag.is-info.is-light
        -#  %span.icon-text
        -#    %span.icon
        -#      %i.mi folder_shared
        -#    %span= number_with_delimiter @stats[:md_tot], delimiter: "'"
        %span.tag.is-info
          %span.icon-text
            %span.icon
              %i.mi= DoujinshiController::ICONS['author']
            %span= link_to number_with_delimiter(@stats[:mda], delimiter: "'"), authors_path
        %span.tag.is-info
          %span.icon-text
            %span.icon
              %i.mi= DoujinshiController::ICONS['circle']
            %span= link_to number_with_delimiter(@stats[:mdc], delimiter: "'"), circles_path
        %span.tag.is-info
          %span.icon-text
            %span.icon
              %i.mi local_offer
            %span= link_to number_with_delimiter(@stats[:mdt], delimiter: "'"), themes_path

  .column.has-text-centered.is-3-desktop
    %span.tag.is-hidden-mobile.mb-5 random picks
    
    %hr.is-hidden-tablet.my-0
    
    .random-links
      = link_to random_pick_doujinshi_path(type: :books), class: 'button is-info is-rounded mt-3 mx-1' do
        %span.icon-text
          %span.icon
            %i.mi casino
          %span books

      = link_to random_pick_doujinshi_path(type: :faved), class: 'button is-info is-rounded mt-3 mx-1' do
        %span.icon-text
          %span.icon
            %i.mi casino
          %span faved

      = link_to random_pick_doujinshi_path(type: :best), class: 'button is-info is-rounded mt-3 mx-1' do
        %span.icon-text
          %span.icon
            %i.mi casino
          %span best

      - unless DOCKER_VM
        = link_to random_shelves_path(run: :batch_comics_viewer, format: :json),
          remote: true, title: 'best sample slideshow',
          class: 'button is-info is-rounded mt-3 mx-1 run-progr is-hidden-touch' do
          %span.icon-text
            %span.icon
              %i.mi casino
            %span shelf
  
    %hr.is-hidden-tablet.my-0.mt-3
    
  .column.has-text-centered
    %span.tag.is-hidden-mobile.mb-5
      scoring distribution over
      = number_with_delimiter @stats[:dj], delimiter: "'"
      doujinshi
    
    .mt-3.is-hidden-mobile
    
    .columns
      .column.is-5
        - if @pie_slices_css
          .pie-chart{style: "width: 12rem; height: 12rem; border-radius: 50%; margin: auto; background: conic-gradient(#{@pie_slices_css.join ', '})"}

      .column.is-family-monospace.is-size-7
        .pie-legend.tags.is-justify-content-center
          - @scores.each_with_index do |pair, i|
            - score, data = pair
            %span.tags.has-addons.mr-2.mb-0{title: "#{data[:n]} doujinshi"}
              %span.tag= '%.1f%%' % (data[:perc] * 100).round(2)
              %span.tag.has-text-black{style: "background-color: ##{HomeController::PALETTE[i]}"}
                = link_to scored_doujinshi_path(score_min: score, score_max: score) do
                  %span<>= score
                  \/
                  %span<>= score != :ND ? Setting.score_labels[score] : 'None'

- if Doujin.any?
  #recent_djs.is-hidden.columns.is-mobile.is-multiline.thumbs

  .has-text-centered
    %a#load_recent.no-spinner.button.is-info.is-rounded.mt-3{href: home_recent_path(format: :html), data: {page: 0}}
      %span.icon-text
        %span.icon
          %i.mi new_releases
        %span load recent doujinshi
