- if is_ereader?
  = link_to 'view ereader compatible pages', {format: :ereader},
    style: "display: inline-block; margin: 1rem 2rem 10rem 2rem; padding: 1rem; background-color: white; color: black; border: 2px outset silver; border-radius: 1rem;"

%ul
  %li= link_to "TODO: view top scored", '#', class: 'button is-info is-rounded'
  %li
    view random:
    %ul
      %li= link_to "TODO: view random book", '#', class: 'button is-info is-rounded'
      %li= link_to "TODO: view random fav", '#', class: 'button is-info is-rounded'
      %li= link_to "TODO: view random top scored", '#', class: 'button is-info is-rounded'
