.title.is-size-4 Application info

%table.table.is-striped.is-hoverable
  %tbody
    %tr
      %th DjMngr
      %td
        = ::VERSION
        - git_rev = `git rev-parse --short HEAD` rescue nil
        - if git_rev
          &mdash;
          = git_rev
    
    %tr
      %th Ruby
      %td
        = RUBY_VERSION
        - if defined?(RubyVM::YJIT) && RubyVM::YJIT&.enabled?
          +YJIT
        -# https://stackoverflow.com/questions/57303214/how-to-check-ruby-2-6-3-is-using-jemalloc-i-installed-ruby-2-6-3-as-rvm-inst/57303366#57303366
        - if defined?(RbConfig::CONFIG) && RbConfig::CONFIG&.[]('MAINLIBS').to_s.include?('-ljemalloc')
          +JEmalloc
    %tr
      %th Rails
      %td= Rails.version
    
    %tr
      %th Vips
      %td= Vips::LIBRARY_VERSION
    
    %tr
      %th DB size
      - db_file = Rails.root.join('storage', "#{Rails.env}.sqlite3").to_s
      %td= number_to_human_size File.size(db_file)

    %tr
      %th Thumbs size
      %td= number_to_human_size Dir[ Rails.root.join('public', 'thumbs', '*.webp').to_s ].sum{|f| File.size f }

    %tr
      %th Samples size
      %td= number_to_human_size Dir[ Rails.root.join('public', 'samples', '*.webp').to_s ].sum{|f| File.size f }
