- url_params = params.permit(:from_author, :from_circle)

.columns
  .column.is-half
    .actions.field.is-grouped
      .field.has-addons
        - back_params = if %w{ artbook magazine }.include?(@doujin.category)
          - { tab: @doujin.category, folder: @doujin.file_folder }
        - elsif params[:from_author].present?
          - { tab: :author, author_id: params[:from_author] }
        - elsif params[:from_circle].present?
          - { tab: :circle, circle_id: params[:from_circle] }
        %p.control
          = link_to 'Back', doujinshi_path(back_params.to_h, anchor: 'listing'),
            class: 'button is-info is-rounded'
        
        - if params[:action] == 'edit'
          %p.control
            = link_to 'Show', doujin_path(@doujin, url_params),
              class: 'button is-info is-rounded'

        - if params[:action] == 'show'
          %p.control
            = link_to edit_doujin_path(@doujin, url_params), class: 'button is-primary is-rounded' do
              %span.icon
                %i.mi.mi-small edit
              %span Edit
  .column
    .actions.field
      .field.has-addons.is-justify-content-flex-end
        %p.control
          = link_to rehash_doujin_path(@doujin, url_params), method: :post,
              data: {confirm: 'rehash file and update stored checksum?'},
              title: 'recalculate checksum', class: 'button is-danger is-rounded' do
            %span.icon
              %i.mi.mi-small tag
            %span ReHASH
        
        %p.control
          = link_to reprocess_doujin_path(@doujin), method: :post,
              data: {confirm: 'remove from collection and rerun processing?'},
              title: 're-process this file', class: 'button is-danger is-rounded' do
            %span.icon
              %i.mi.mi-small swap_horiz
            %span ReProcess
        
        %p.control
          = link_to @doujin, method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'button is-danger is-rounded' do
            %span.icon
              %i.mi.mi-small delete
            %span Delete
