- short_label    = false unless local_assigns.has_key?(:short_label)
- show_name_orig = false unless local_assigns.has_key?(:show_name_orig)

- unless doujinshi
  %br/
  %small
    %i nothing to see here
- else
  - if session[:dj_index_detail] == 'thumbs'
    .thumbs
      - if doujinshi.is_a?(ActiveRecord::Relation)
        - doujinshi.find_each_in_order(batch_size: DoujinshiController::BATCH_SIZE) do |d|
          = render partial: 'thumbs_row', locals: {d: d, short_label: short_label}
      - elsif doujinshi.is_a?(Array)
        = render partial: 'thumbs_row',
          collection: doujinshi, as: :d, locals: {short_label: short_label}
      - else
        unknown object to render
  - else
    %table.doujinshi.is-striped.block-links.w100
      %thead
        %tr
          %th.w1 Cover
          %th.w1 &hearts;
          %th{style: "text-align: left"}= "Name (#{@doujinshi.reselect(:id).count})"
          %th.w1 Pag.
          %th.w1 Size
          %th.w1 Fav
      %tbody
        - if doujinshi.is_a?(ActiveRecord::Relation)
          - doujinshi.find_each_in_order(batch_size: DoujinshiController::BATCH_SIZE) do |d|
            = render partial: 'thumbs_table_row',
              locals: {d: d, short_label: short_label, show_name_orig: show_name_orig}
        - elsif doujinshi.is_a?(Array)
          = render partial: 'thumbs_table_row', collection: doujinshi, as: :d,
            locals: {short_label: short_label, show_name_orig: show_name_orig}
        - else
          unknown object to render
