- descr = short_label ? d.label_name_latin : d.file_dl_name(omit_ext: true)
- title = d.name if d.name != descr
- perc_read = (d.percent_read.to_i == 100 ? '✅' : "#{d.percent_read.round}%") if d.read_pages.to_i > 0

%tr{data: {cover: doujin_path(d, format: :webp)}}
  %td.show-thumb
    .has-text-warning= d.score.to_i if d.score.to_i > 0
    .has-text-info.is-hidden-tablet= perc_read
  %td.show-thumb.is-hidden-mobile.has-text-info= perc_read
  %td.name
    .columns.is-mobile
      .column.is-1.dj-select.is-hidden
        = check_box_tag :'ids[]', d.id, false, id: nil,
          tabindex: (@ckbx_dj_select = (@ckbx_dj_select || 100) + 1)
      .column
        = link_to(doujin_path(d, from_author: params[:author_id], from_circle: params[:circle_id]), title: title) do
          - if d.cover_similarity.present?
            %span.tag.is-warning.is-rounded= "#{'%2d' % d.cover_similarity}%"
          - if show_categ && (icon = DoujinshiController::ICONS[d.category])
            %span.icon.is-small.mr-1.in-text
              %i.mi= icon
          %span= descr
        - if show_name_orig
          .name-orig.is-size-7{title: (d.name_orig_kakasi if d.name_orig_kakasi != d.name_orig)}= d.name_orig
  %td.num.is-hidden-mobile= "#{d.num_images}P"
  %td.num.is-hidden-mobile= number_to_human_size(d.size, precision: 2).delete ' '
  %td.num.is-hidden-tablet
    .pages<>
      = d.num_images
      &nbsp;Pg
    .size= number_to_human_size(d.size, precision: 2)
  %td= link_to '&star;'.html_safe,
    fav_toggle_doujinshi_path(type: :Doujin, id: d.id),
    title: ("faved @ #{l d.faved_at}" if d.favorite? && d.faved_at),
    class: "fav no-spinner #{'has-text-warning' if d.favorite?}"
