- short_label    = false unless local_assigns.has_key?(:short_label)
- show_name_orig = false unless local_assigns.has_key?(:show_name_orig)
- show_categ     = false unless local_assigns.has_key?(:show_categ)
- local_vars     = { short_label: short_label, show_name_orig: show_name_orig,
                     show_categ: show_categ }

- unless doujinshi
  %br/
  %small
    %i nothing to see here
- else
  - if session[:dj_index_detail] == 'thumbs'
    .thumbs
      - if doujinshi.is_a?(ActiveRecord::Relation)
        - doujinshi.find_each_in_order(batch_size: DoujinshiController::BATCH_SIZE) do |d|
          = render partial: 'doujinshi/thumbs_row',
            locals: local_vars.merge(d: d)
      - elsif doujinshi.is_a?(Array)
        = render partial: 'doujinshi/thumbs_row', collection: doujinshi, as: :d,
          locals: local_vars
      - else
        unknown object to render
  - else
    %table.doujinshi.is-striped.block-links.w100
      %thead
        %tr
          %th.w1 Cvr
          %th.w1
          %th{style: "text-align: left"}= "Name (#{@doujinshi.reselect(:id).count})"
          %th.w1 P/S
          %th.w1 Fav
      %tbody
        - if doujinshi.is_a?(ActiveRecord::Relation)
          - doujinshi.find_each_in_order(batch_size: DoujinshiController::BATCH_SIZE) do |d|
            = render partial: 'doujinshi/thumbs_table_row',
              locals: local_vars.merge(d: d)
        - elsif doujinshi.is_a?(Array)
          = render partial: 'doujinshi/thumbs_table_row', collection: doujinshi, as: :d,
            locals: local_vars
        - else
          unknown object to render
