.columns.thumbs.freezeframe
  - doujinshi.each do |d|
    - details = "\n#{d.score.to_i > 0 ? d.score.to_i : '--'}★ / #{d.num_images} pics / #{number_to_human_size d.size, precision: 2}"
    
    - if short_label
      - title = descr = d.label_name_latin
      - title += "\n#{d.name}" if descr != d.name
      - title += details
    - else
      - title = "#{d.file_dl_name omit_ext: true}#{details}"
    
    - if show_name_orig
      - title += "\nORIGINAL:\n- #{d.name_orig}"
      - title += "\n- #{d.name_orig_kakasi}" if d.name_orig != d.name_orig_kakasi
    
    .column.is-2.has-text-centered(title=title)
      %figure.image.is2by3
        = link_to image_tag("/thumbs/#{d.id}.webp", title: title),
          doujin_path(d, from_author: params[:author_id], from_circle: params[:circle_id])
      %progress.progress.is-warning{value: d.score.to_i, title: "#{d.score.to_i}⭐", max: 10}
      .descr.is-size-7
        - if d.cover_similarity.present?
          %span.tag.is-warning.is-rounded= "#{'%2d' % d.cover_similarity}%"
        = short_label ? descr : d.name
