- clear_all_bt = capture do
  = link_to compare_remove_process_index_path(idx: :all),
    data: { confirm: 'Remove all entries?' },
    class: 'button is-danger is-rounded' do
    %span.icon
      %i.mi clear_all
    %span Clear list

- if @entries.any?
  .actions-danger(style="float: right")
    = clear_all_bt
    = link_to '#page-bottom', class: 'button ml-1' do
      %span.icon
        %i.mi vertical_align_bottom

.title.is-size-4 Doujinshi comparison

- if @entries.empty?
  .is-italic no entries
- else
  :css
    .pic { width:  #{DoujinCompareJob::THUMB_SIZE[:width]}px;
           height: #{@entries.map{|e| e[:max_height] }.max}px; }
    .pic.separator { border-bottom: 0.3rem dashed yellow; }

  %table#compare.table.has-text-centered
    %thead
      = info_row = capture do
        %tr
          - @entries.each_with_index do |entry, idx|
            %td
              .filetype.mb-2.has-text-weight-bold
                %span.tag.is-info
                  %span.icon-text.is-flex-wrap-nowrap
                    %span.icon
                      %i.mi.mi-small= entry[:source] == :doujin ? :book : :swap_horiz
                    %span= "#{entry[:num_pages]} pics/#{number_to_human_size entry[:file_size]}"
              
              .field.is-grouped.is-justify-content-center
                .field.has-addons
                  %p.control
                    = link_to compare_remove_process_index_path(idx: idx),
                      title: 'remove from comparison', class: 'button is-info is-rounded' do
                      %span.icon
                        %i.mi remove

                  - if entry[:source] == :doujin && Doujin.exists?(id: entry[:doujin_id])
                    %p.control
                      = link_to doujin_path(id: entry[:doujin_id]),
                          data: { confirm: 'Delete from collection?' }, method: :delete,
                          title: 'delete from collection', class: 'button is-danger is-rounded' do
                        %span.icon
                          %i.mi delete
                  - elsif entry[:source] == :process
                    %p.control
                      = link_to delete_archive_process_index_path(path: entry[:rel_path]),
                        data: { confirm: 'Delete from to-sort folder?' }, method: :delete,
                        title: 'delete from to-sort folder', class: 'button is-danger is-rounded' do
                        %span.icon
                          %i.mi delete
              
              .filename.is-size-7
                - if entry[:source] == :doujin
                  = link_to entry[:rel_path], doujin_path(id: entry[:doujin_id]),
                    title: 'view details in collection'
                - elsif entry[:source] == :process
                  = link_to entry[:rel_path], prepare_archive_process_index_path(path: entry[:rel_path]),
                    title: 'prepare for processing'
    %tbody
      %tr
        - @entries.each do |entry|
          %td
            - entry[:images].each_with_index do |img, i|
              - show_separator = (i != 0 && (i % DoujinCompareJob::CHUNK_SIZE) == 0 && entry[:sampled])
              .pic.p-0.m-0.my-1{class: ('separator' if show_separator)}
                %figure.image.is2by3
                  = inline_image_tag :'image/webp', img[:data], title: img[:name]

    %tfoot= info_row    
  
  .has-text-centered
    = clear_all_bt
    = link_to '#page-top', class: 'button ml-1' do
      %span.icon
        %i.mi vertical_align_top
