- versions = @doujin.versions.reverse

- if @doujin.errors.any?
  .is-size-5.notification.is-danger.content
    %ul.mt-0
      - @doujin.errors.full_messages.each do |message|
        %li= message

= form_for @doujin do |f|
  = hidden_field_tag :from_author, params[:from_author]
  = hidden_field_tag :from_circle, params[:from_circle]

  .field.is-horizontal
    .field-label.is-normal
      %label.label Name
    .field-body
      .field
        .control.is-expanded.has-icons-left
          = f.text_field :name, class: :input
          %span.icon.is-small.is-left
            %i.mi.mi-small local_offer
      = render partial: 'versions_link', locals: {field: 'name'}
  = render partial: 'versions', locals: {versions: versions, field: 'name'}

  .field.is-horizontal
    .field-label.is-normal
      %label.label Name romaji
    .field-body
      .field
        .control.is-expanded.has-icons-left
          = f.text_field :name_romaji, class: :input
          %span.icon.is-small.is-left
            %i.mi.mi-small translate
      = render partial: 'versions_link', locals: {field: 'name_romaji'}
  = render partial: 'versions', locals: {versions: versions, field: 'name_romaji'}

  .field.is-horizontal
    .field-label.is-normal
      %label.label Name kakasi
    .field-body
      .field
        .control.is-expanded.has-icons-left
          = f.text_field :name_kakasi, class: :input
          %span.icon.is-small.is-left
            %i.mi.mi-small translate

  .field.is-horizontal
    .field-label.is-normal
      %label.label File name
    .field-body
      .field
        .control.is-expanded.has-icons-left
          = f.text_field :file_name, class: :input
          %span.icon.is-small.is-left
            %i.mi.mi-small description

  .field.is-horizontal
    .field-label.is-normal
      %label.label Original name
    .field-body
      .field
        .control.is-expanded.has-icons-left
          = f.text_field :name_orig, class: :input
          %span.icon.is-small.is-left
            %i.mi.mi-small photo_filter
      = render partial: 'versions_link', locals: {field: 'name_orig'}
  = render partial: 'versions', locals: {versions: versions, field: 'name_orig'}

  .field.is-horizontal
    .field-label.is-normal
      %label.label Specs
    .field-body
      .field
        .control.is-expanded.has-icons-left
          .select.is-fullwidth(title="language")
            = f.select :language, Doujin::LANGUAGES
          %span.icon.is-small.is-left
            %i.mi.mi-small language
      .field
        .control.has-icons-left
          .select.is-fullwidth(title="reading direction")
            = f.select :reading_direction, {'right to left' => 'r2l', 'left to right' => 'l2r'}
          %span.icon.is-small.is-left
            %i.mi.mi-small sync_alt
      .field
        .control.has-icons-left
          .select.is-fullwidth(title="censoring")
            = f.select :censored, {'uncensored' => false, 'censored' => true}
          %span.icon.is-small.is-left
            %i.mi.mi-small visibility_off
      .field
        .control.has-icons-left
          .select.is-fullwidth(title="almost all pages are full color")
            = f.select :colorized, {'black & white' => false, 'colorized' => true}
          %span.icon.is-small.is-left
            %i.mi.mi-small format_paint
      .field
        .control.is-expanded.has-icons-left
          .select.is-fullwidth(title="read pages")
            = f.select :read_pages, (0..@doujin.num_images).map{|i| [i+1, i] }
          %span.icon.is-small.is-left
            %i.mi.mi-small auto_stories

  .field.is-horizontal
    .field-label.is-normal
      %label.label Notes
    .field-body
      .field
        .control= f.text_area :notes, class: :textarea, maxlength: 255

  .field.is-horizontal
    .field-label.is-normal
    .field-body
      .field
        .control= f.submit 'Save', class: 'button is-primary'

.actions.mt-5= render partial: 'actions'
