- versions = @doujin.versions.reverse

= render partial: 'record_errors', object: @doujin.errors.full_messages

= form_with model: @doujin do |f|
  = hidden_field_tag :from_author, params[:from_author]
  = hidden_field_tag :from_circle, params[:from_circle]

  .field.is-horizontal
    .field-label.is-normal
      %label.label Name
    .field-body
      .field
        .control.is-expanded.has-icons-left
          = f.text_field :name, class: :input
          %span.icon.is-small.is-left
            %i.mi.mi-small local_offer
      = render partial: 'field_versions_toggle', locals: {field: 'name'}
  = render partial: 'field_versions', locals: {versions: versions, prefix: 'doujin', field: 'name'}

  .field.is-horizontal
    .field-label.is-normal
      %label.label Name romaji
    .field-body
      .field
        .control.is-expanded.has-icons-left
          = f.text_field :name_romaji, class: :input
          %span.icon.is-small.is-left
            %i.mi.mi-small translate
      = render partial: 'field_versions_toggle', locals: {field: 'name_romaji'}
  = render partial: 'field_versions', locals: {versions: versions, prefix: 'doujin', field: 'name_romaji'}

  .field.is-horizontal
    .field-label.is-normal
      %label.label Name kakasi
    .field-body
      .field
        .control.is-expanded.has-icons-left
          = f.text_field :name_kakasi, class: :input
          %span.icon.is-small.is-left
            %i.mi.mi-small translate

  .field.is-horizontal
    .field-label.is-normal
      %label.label Name Eng
    .field-body
      .field
        .control.is-expanded.has-icons-left
          = f.text_field :name_eng, class: :input
          %span.icon.is-small.is-left
            %i.mi.mi-small translate

  .field.is-horizontal
    .field-label.is-normal
      %label.label File name
    .field-body
      .field
        .control.is-expanded.has-icons-left
          = f.text_field :file_name, class: :input
          %span.icon.is-small.is-left
            %i.mi.mi-small description

  .field.is-horizontal
    .field-label.is-normal
      %label.label Original name
    .field-body
      .field
        .control.is-expanded.has-icons-left
          = f.text_field :name_orig, class: :input
          %span.icon.is-small.is-left
            %i.mi.mi-small photo_filter
      = render partial: 'field_versions_toggle', locals: {field: 'name_orig'}
  = render partial: 'field_versions', locals: {versions: versions, prefix: 'doujin', field: 'name_orig'}

  .field.is-horizontal
    .field-label.is-normal
      %label.label Specs
    .field-body
      .field
        .control.is-expanded.has-icons-left
          .select.is-fullwidth(title="language")
            = f.select :language, Doujin::LANGUAGES
          %span.icon.is-small.is-left
            %i.mi.mi-small language
      .field
        .control.has-icons-left
          .select.is-fullwidth(title="reading direction")
            = f.select :reading_direction, {'right to left' => 'r2l', 'left to right' => 'l2r'}
          %span.icon.is-small.is-left
            %i.mi.mi-small sync_alt
      .field
        .control.has-icons-left
          .select.is-fullwidth(title="censoring")
            = f.select :censored, {'uncensored' => false, 'censored' => true}
          %span.icon.is-small.is-left
            %i.mi.mi-small visibility_off
      .field
        .control.has-icons-left
          .select.is-fullwidth(title="almost all pages are full color")
            = f.select :colorized, {'black & white' => false, 'colorized' => true}
          %span.icon.is-small.is-left
            %i.mi.mi-small format_paint
      .field
        .control.has-icons-left
          .select.is-fullwidth(title="book or computer graphics")
            = f.select :hcg, {'book' => false, 'CG' => true}
          %span.icon.is-small.is-left
            %i.mi.mi-small sports_esports
      .field
        .control.is-expanded.has-icons-left
          .select.is-fullwidth(title="read pages")
            = f.select :read_pages, (1..@doujin.num_images).map{|i| [i, i] }.unshift([:unread, 0])
          %span.icon.is-small.is-left
            %i.mi.mi-small auto_stories

  .field.is-horizontal
    .field-label.is-normal
      %label.label Relations
    .field-body(style="display: block")
      .columns.metadata-relations
        - [Author, Circle].each do |model|
          - ids_name = "#{model.name.downcase}_ids"
          - rel_name = model.name.pluralize.downcase
          
          .column.is-half
            = hidden_field_tag "doujin[#{ids_name}][]", nil, id: nil
            
            .js-tagger{data: {title: "Add relations whith #{rel_name}", url: url_for(controller: rel_name, action: :tags_lookup) }}
              .title.is-size-5.has-text-centered
                %button.button.is-rounded.is-small.mr-2.js-tagger-search(type="button")
                  %span.icon.is-small
                    %i.mi.mi-small add
                  %span= rel_name
              
              .field.is-grouped.is-grouped-multiline.js-tagger-list
                - rel = @doujin.send(rel_name).order(Arel.sql "COALESCE(NULLIF(name_romaji, ''), NULLIF(name_kakasi, ''))")
                - rel = rel.select(:id, :name_romaji, :name_kakasi).to_a
                - rel.unshift model.new id: :RECORD_ID, name_romaji: :LABEL # new recor for template item
                - rel.each do |assoc|
                  .control{class: ('js-tagger-template is-hidden' if assoc.new_record?)}
                    = hidden_field_tag "doujin[#{ids_name}][]", assoc.id_before_type_cast, id: nil
                    .tags.has-addons
                      %span.tag.is-link.is-light
                        = link_to assoc.label_name_latin,
                          {controller: rel_name, action: :show, id: assoc.id_before_type_cast},
                          target: :_blank
                      %a.tag.is-delete{href: "##{model.name}-#{assoc.id_before_type_cast}"}

  .field.is-horizontal
    .field-label.is-normal
      %label.label Notes
    .field-body
      .field
        .control= f.text_area :notes, class: :textarea, maxlength: 255

  .field.is-horizontal
    .field-label.is-normal
    .field-body
      .field
        .control= f.submit 'Save', class: 'button is-primary'

.actions.mt-5= render partial: 'actions'
