%h3 Generated EPUB files

%table.files.is-striped.block-links.w100
  - @wip.each do |f|
    %tr
      %td.w1 &mdash;
      %td
        = "#{File.basename(f, '.perc')} (#{File.read f}%)"
        - error_log = f.sub(/\.perc$/, '.wip/error.log')
        - if File.exist?(error_log)
          %span.tag.is-danger= File.read error_log
      %td.w1= link_to 'delete', epub_doujinshi_path(remove: File.basename(f)),
        class: :button, title: 'delete file'
  - @done.each do |f|
    %tr
      %td.w1= number_to_human_size(File.size(f), precision: 2).delete ' '
      %td= link_to File.basename(f, '.kepub.epub'), '/'+Pathname.new(f).relative_path_from(@pub_dir).to_s
      %td.w1= link_to 'delete', epub_doujinshi_path(remove: File.basename(f)),
        class: :button, title: 'delete file'

- if @wip.any?
  :javascript
    window.timeout_id = setTimeout(function () { window.location.reload(); }, 5000)
