.columns
  .column.entries
    .columns.mb-0
      .column
        %p.menu-label.mb-3= "Doujinshi by #{params[:sort]} (#{@doujinshi.count})"
      .column.is-3
        .field.has-addons
          - show_key = session[:dj_index_detail] == 'thumbs' ? 'table' : 'thumbs'
          .control{title: "show #{show_key}"}
            = link_to({detail: show_key, sort: params[:sort]},
              class: 'button is-info is-small is-rounded') do
              %span.icon.is-small
                %i.mi.mi-small= session[:dj_index_detail] == 'thumbs' ? 'view_list' : 'image'
          
          - sort_key = params[:sort] == 'name' ? 'date' : 'name'
          .control{title: "sort by #{sort_key}"}
            = link_to({sort: sort_key}, class: 'button is-info is-small is-rounded') do
              %span.icon.is-small
                %i.mi.mi-small= params[:sort] == 'name' ? 'event' : 'description'
          
    = render partial: 'thumbs_table', locals: { doujinshi: @doujinshi }
  
  .column.entries.is-3
    %p.menu-label.mb-3= "Authors (#{@authors.reselect('1').count})"
    
    %table.table.is-striped
      - @authors.find_each do |r|
        %tr
          %td
            = link_to "#{r.name} (#{r.doujinshi.count})",
              doujinshi_path({tab: 'author', author_id: r.id, anchor: "listing"})
          %td.w1
            = link_to '&star;'.html_safe, fav_toggle_doujinshi_path(type: :Author, id: r.id),
              class: "fav #{'has-text-warning' if r.favorite?}"
  
  .column.entries.is-3
    %p.menu-label.mb-3= "Circles (#{@circles.reselect('1').count})"
    
    %table.table.is-striped
      - @circles.find_each do |r|
        %tr
          %td
            = link_to "#{r.name} (#{r.doujinshi.count})",
              doujinshi_path({tab: 'circle', circle_id: r.id, anchor: "listing"})
          %td.w1
            = link_to '&star;'.html_safe, fav_toggle_doujinshi_path(type: :Circle, id: r.id),
              class: "fav #{'has-text-warning' if r.favorite?}"
