.columns
  .column.is-3
    .tabs.is-boxed.is-centered
      %ul
        %li{class: (:'is-active' if params[:tab] == 'author') }
          = link_to({tab: :author}, title: 'authors') do
            %span.icon.is-small
              %i.mi supervisor_account
        %li{class: (:'is-active' if params[:tab] == 'circle') }
          = link_to({tab: :circle}, title: 'circles') do
            %span.icon.is-small
              %i.mi supervised_user_circle
        %li{class: (:'is-active' if params[:tab] == 'artbook') }
          = link_to({tab: :artbook}, title: 'artbooks') do
            %span.icon.is-small
              %i.mi color_lens
        %li{class: (:'is-active' if params[:tab] == 'magazine') }
          = link_to({tab: :magazine}, title: 'magazines') do
            %span.icon.is-small
              %i.mi book
    
    %aside.menu
      %p.menu-label= params[:tab].capitalize.pluralize
      
      %ul.menu-list
        - if @authors
          - @authors.each do |a|
            %li= link_to a.name, {tab: params[:tab], author_id: a.id},
              class: ('is-active' if a.id == params[:author_id].to_i)
    
        - if @circles
          - @circles.each do |c|
            %li= link_to c.name, {tab: params[:tab], circle_id: c.id},
              class: ('is-active' if c.id == params[:circle_id].to_i)
    
        - if @folders
          - @folders.each do |f|
            - lbl = f == '.' ? '[root folder]' : f
            %li= link_to lbl, {tab: params[:tab], folder: f},
              class: ('is-active' if f == params[:folder])

  .column
    - @doujinshi.to_a.each_slice(6) do |s|
      .columns
        - s.each do |d|
          .column.is-2
            - descr  = "#{d.name_romaji.present? ? d.name_romaji : d.name_kakasi}"
            - descr += "\n#{d.name}" if descr != d.name
            %figure.image.is2by3
              = link_to image_tag(doujin_path(d, format: :webp), title: descr), doujin_path(d), target: :_blank
