%h3
  Doujinshi collection
  .actions{style: "float: right"}
    = link_to 'home', root_path(format: :ereader), class: :button

- cur_params = params.permit(%w{ format tab letter author_id circle_id folder }).to_h

= form_with url: doujinshi_path, method: :get do |f|
  = f.hidden_field :format, value: params[:format]

  = select_tag :tab, options_for_select(%w{ author circle artbook magazine }, params[:tab]), onchange: %Q|this.form.submit()|

  - if @letters
    &raquo;
    = select_tag :letter, options_for_select(@letters, params[:letter]), onchange: %Q|this.form.submit()|
  
  - if @parent_name
    &raquo;
    = @parent_name == '.' ? '[root folder]' : @parent_name

    &middot;

    %small= link_to '(back)', cur_params.slice(*%w{ tab letter format })
    \|
    %small= link_to '(change view)', cur_params.merge(detail: session[:dj_index_detail] == 'thumbs' ? 'table' : 'thumbs')

%hr/

- if @doujinshi

  - if session[:dj_index_detail] == 'table'
    %table.doujinshi.is-striped.w100
      %thead
        %tr
          %th.w1 Cover
          %th.w1 &hearts;
          %th    Name
          %th.w1 Pag.
          %th.w1 Size
      %tbody
        - @doujinshi.to_a.each do |d|
          - descr = d.name_romaji.present? ? d.name_romaji : d.name_kakasi
          - title = d.name if d.name != descr
          %tr
            %td= link_to 'show', '#',
              data: { cover: doujin_path(d, format: :jpg)},
              onclick: %Q|jQuery(this).hide().after(jQuery('<img>').attr('src', jQuery(this).data('cover'))); return false|
            %td= "#{d.score.to_i}&hearts;".html_safe if d.score.to_i > 0
            %td= link_to descr, doujin_path(d, from_author: params[:author_id], from_circle: params[:circle_id], format: :ereader)
            %td= d.num_images
            %td= number_to_human_size(d.size, precision: 2).delete ' '
  - else
    .thumbs
      - @doujinshi.each do |d|
        .doujin
          .cover= link_to image_tag(doujin_path d, format: :jpg), doujin_path(d, from_author: params[:author_id], from_circle: params[:circle_id], format: :ereader)
          .descr
            - if d.score.to_i > 0
              %span.score= "#{d.score.to_i}&hearts;".html_safe
            %span.name= d.label_name_latin

- elsif @parents

  %table.parents.is-striped.w100
    %tbody
      - @parents[params[:letter]].to_a.each_slice(4) do |s|
        %tr
          - s.each do |parent|
            - if parent.is_a?(String)
              - lbl = parent == '.' ? '[root folder]' : parent
              %td= link_to lbl, cur_params.merge(folder: parent)
            - else
              %td= link_to parent.name, cur_params.merge("#{parent.class.name.downcase}_id": parent.id)
          - (4-s.size).times do
            %td
