.columns
  .column.is-3
    .tabs.is-boxed.is-centered
      %ul
        %li{class: (:'is-active' if params[:tab] == 'author') }
          = link_to({tab: :author}, title: 'authors') do
            %span.icon.is-small
              %i.mi= DoujinshiController::ICONS['author']
        %li{class: (:'is-active' if params[:tab] == 'circle') }
          = link_to({tab: :circle}, title: 'circles') do
            %span.icon.is-small
              %i.mi= DoujinshiController::ICONS['circle']
        %li{class: (:'is-active' if params[:tab] == 'artbook') }
          = link_to({tab: :artbook}, title: 'artbooks') do
            %span.icon.is-small
              %i.mi= DoujinshiController::ICONS['artbook']
        %li{class: (:'is-active' if params[:tab] == 'magazine') }
          = link_to({tab: :magazine}, title: 'magazines') do
            %span.icon.is-small
              %i.mi= DoujinshiController::ICONS['magazine']
    
    .section-descr
      %p.menu-label(style="display: inline-block")= params[:tab].capitalize.pluralize
      
      - if %w{ author_id circle_id folder }.any?{|k| params[k] }
        - show_key = session[:dj_index_detail] == 'thumbs' ? 'table' : 'thumbs'
        - cur_params = params.permit(%w{ tab author_id circle_id folder }).to_h
        = link_to(cur_params.merge(detail: session[:dj_index_detail] == 'thumbs' ? 'table' : 'thumbs', anchor: "listing"),
          class: 'bt-thumbs button is-info is-small is-rounded', style: 'float: right') do
          %span.icon-text
            %span.icon.is-small
              %i.mi.mi-small= session[:dj_index_detail] == 'thumbs' ? 'view_list' : 'image'
            %span= "show #{show_key}"
    
    %aside.menu
      %ul.menu-list
        - @parents.each do |p|
          - if p.is_a?(String)
            - lbl = p == '.' ? '[root folder]' : p
            %li= link_to lbl, {tab: params[:tab], folder: p, anchor: "listing"},
              class: "entry #{'is-active' if p == params[:folder]}"
          - else
            - type = p.class.name.downcase
            %li
              = link_to p.name, {tab: params[:tab], "#{type}_id": p.id, anchor: "listing"},
                class: "entry #{'is-active' if p.id == params["#{type}_id"].to_i}"
              = link_to '&star;'.html_safe, fav_toggle_doujinshi_path(type: p.class.name, id: p.id),
                class: "fav #{'has-text-warning' if p.favorite?}"

  .column.doujinshi
    %a(name="listing")
    = render partial: 'thumbs_table',
      locals: { doujinshi: @doujinshi, short_label: true, show_categ: %w{author circle}.include?(params[:tab]) }
