%h3 Doujinshi collection

- cur_params = params.permit(%w{ format tab letter author_id circle_id folder }).to_h

= form_with url: doujinshi_path, method: :get do |f|
  = f.hidden_field :format, value: params[:format]

  = select_tag :tab, options_for_select(%w{ author circle artbook magazine }, params[:tab]), onchange: %Q|this.form.submit()|

  - if @letters
    &raquo;
    = select_tag :letter, options_for_select(@letters, params[:letter]), onchange: %Q|this.form.submit()|
  
  - if @parent_name
    &raquo;
    = @parent_name == '.' ? '[root folder]' : @parent_name

    &middot;

    %small= link_to 'back', cur_params.slice(*%w{ tab letter format })
    \|
    - show_key = session[:dj_index_detail] == 'thumbs' ? 'table' : 'thumbs'
    %small= link_to "show #{show_key}", cur_params.merge(detail: show_key)

%hr/

- if @doujinshi
  = render partial: 'fav_js_links'
  = render partial: 'thumbs_table',
    locals: { doujinshi: @doujinshi, short_label: true, show_categ: %w{author circle}.include?(params[:tab]) }
- elsif @parents
  %table.collection-index.parents.block-links.is-striped.w100
    %tbody
      - @parents[params[:letter]].to_a.each_slice(4) do |s|
        %tr
          - s.each do |parent|
            - if parent.is_a?(String)
              - lbl = parent == '.' ? '[root folder]' : parent
              %td= link_to lbl, cur_params.merge(folder: parent)
            - else
              %td= link_to parent.name, cur_params.merge("#{parent.class.name.downcase}_id": parent.id)
          - (4-s.size).times do
            %td
