%h3 Search in collection

= form_with url: search_doujinshi_path, method: :get, class: 'frm-search' do |f|
  = f.text_field :term, value: params[:term], placeholder: :search
  %button.jQKeyboardToggle(data-field="#term") KB
  = f.submit 'Search', class: 'button'

  &middot;

  - cur_params = params.permit(%w{ format tab term }).to_h
  - show_key = session[:dj_index_detail] == 'thumbs' ? 'table' : 'thumbs'
  %small= link_to "show #{show_key}", cur_params.merge(detail: show_key)

%hr/

= render partial: 'fav_js_links'
= render partial: 'thumbs_table', locals: { doujinshi: @doujinshi, show_name_orig: true }
