%table.doujin
  %tr
    %td.w1.cover
      = image_tag doujin_path @doujin, format: :jpg
    %td.details
      %table
        %tr
          %th Name
          %td= @doujin.name_latin
        - if @doujin.name_latin != @doujin.name
          %tr
            %th Kanji
            %td= @doujin.name
        - if @doujin.score.to_i > 0
          %tr
            %th Score
            %td
              - @doujin.score.times do
                &#9825;
              - (10 - @doujin.score).times do
                &hearts;
              = "(#{@doujin.score})"
        %tr
          %th Pages
          %td= @doujin.num_images
        %tr
          %th Size
          %td= number_to_human_size @doujin.size, precision: 2
        %tr
          %th Path
          %td= @doujin.file_path
        %tr
          %th Source
          %td= @doujin.name_orig
        %tr
          %th Actions
          %td.links
            = link_to 'Read'                 , '#', class: :button
            = link_to '&nabla;EPUB'.html_safe , doujin_path(@doujin, format: :epub), class: :button
            = link_to '&nabla;CBZ' .html_safe , doujin_path(@doujin, format: :cbz ), class: :button
            = link_to '&nabla;ZIP' .html_safe , doujin_path(@doujin, format: :zip ), class: :button
  %tr
    %td.samples(colspan="2")
      = image_tag doujin_path @doujin, format: :jpg, page: 1
      = image_tag doujin_path @doujin, format: :jpg, page: 2
      = image_tag doujin_path @doujin, format: :jpg, page: 3

%br
= link_to 'Back',
  doujinshi_path(tab: @doujin.category, folder: @doujin.file_folder, format: :ereader),
  class: :button, style: "float: right"
