%table.doujin
  %tr
    %td.w1.cover
      = image_tag doujin_path @doujin, format: :jpg
    %td.details
      %table
        %tr
          %th Title
          %td= @doujin.label_name_latin
        - if @doujin.name != @doujin.label_name_latin
          %tr
            %th
            %td
              .kanji= @doujin.name
        - if @doujin.authors.any?
          %tr
            %th Author
            %td= @doujin.authors.map{|i| i.label_name_latin }.sort.join(', ')
        - if @doujin.circles.any?
          %tr
            %th Circle
            %td= @doujin.circles.map{|i| i.label_name_latin }.sort.join(', ')
        %tr
          %th Info
          %td
            = @doujin.num_images
            pages
            &nbsp;~&nbsp;
            = number_to_human_size @doujin.size, precision: 2
            - if @doujin.score.to_i > 0
              &nbsp;~&nbsp;
              %span.score
                =@doujin.score
                &#9825;
      
      .actions
        = link_to 'Read'                 , '#', class: :button
        = link_to '&nabla;EPUB'.html_safe , doujin_path(@doujin, format: :epub), class: :button
        = link_to '&nabla;CBZ' .html_safe , doujin_path(@doujin, format: :cbz ), class: :button
        = link_to '&nabla;ZIP' .html_safe , doujin_path(@doujin, format: :zip ), class: :button
  %tr
    %td.samples(colspan="2")
      = image_tag doujin_path @doujin, format: :jpg, page: 1
      = image_tag doujin_path @doujin, format: :jpg, page: 2
      = image_tag doujin_path @doujin, format: :jpg, page: 3

%br
= link_to 'Back',
  doujinshi_path(tab: @doujin.category, folder: @doujin.file_folder, format: :ereader),
  class: :button, style: "float: right"
