%table.doujin
  %tr
    %td.w1.cover
      = image_tag doujin_path @doujin, format: :jpg
    %td.details
      %table
        %tr
          %th Title
          %td= @doujin.label_name_latin
        - if @doujin.name != @doujin.label_name_latin
          %tr
            %th
            %td
              .kanji= @doujin.name
        - if @doujin.authors.any?
          %tr
            %th Author
            %td= @doujin.authors.map{|i| i.label_name_latin }.sort.join(', ')
        - if @doujin.circles.any?
          %tr
            %th Circle
            %td= @doujin.circles.map{|i| i.label_name_latin }.sort.join(', ')
        %tr
          %th Info
          %td
            = @doujin.num_images
            pages
            &nbsp;~&nbsp;
            = number_to_human_size @doujin.size, precision: 2
        %tr
          %th Score
          %td
            = form_with url: score_doujin_path(@doujin, format: :ereader) do |f|
              = f.hidden_field :score, value: @doujin.score.to_i
              .scoring
                - (1..10).each do |i|
                  %span.set-score{data: {score: i}, class: ('set' if i <= @doujin.score.to_i)}
                    &#9825;
                &nbsp;&nbsp;
                %span.clear-score{data: {score: 0}}
                  &times;
              - if @doujin.score.to_i > 0 && @doujin.scored_at
                %small.scored_at
                  scored at
                  = l @doujin.scored_at
            :javascript
              jQuery(function () {
                jQuery('.scoring span').click(function () {
                  if (jQuery(this).hasClass('clear-score'))
                    jQuery(this).prevAll('span').removeClass('set');
                  else {
                    jQuery(this).prevAll('span').add(this).addClass('set');
                    jQuery(this).nextAll('span').removeClass('set');
                  }//if-else
                  jQuery('#score').val( jQuery(this).data('score') ).get(0).form.submit();
                });
              })
      
      .actions
        = link_to 'Read'                 , '#', class: :button
        = link_to '&nabla;EPUB'.html_safe , doujin_path(@doujin, format: :epub), class: :button
        = link_to '&nabla;CBZ' .html_safe , doujin_path(@doujin, format: :cbz ), class: :button
        = link_to '&nabla;ZIP' .html_safe , doujin_path(@doujin, format: :zip ), class: :button
  %tr
    %td.samples(colspan="2")
      = image_tag doujin_path @doujin, format: :jpg, page: 1
      = image_tag doujin_path @doujin, format: :jpg, page: 2
      = image_tag doujin_path @doujin, format: :jpg, page: 3

%br
= link_to 'Back',
  doujinshi_path(tab: @doujin.category, folder: @doujin.file_folder, format: :ereader),
  class: :button, style: "float: right"
