%h3 Doujin details

%table.doujin
  %tr
    %td.w1.cover
      = image_tag doujin_path @doujin, format: :jpg
    %td.details
      %table
        %tr
          %th Title
          %td= @doujin.label_name_latin
        - if @doujin.name != @doujin.label_name_latin
          %tr
            %th
            %td
              .kanji= @doujin.name
        - if @doujin.authors.any?
          %tr
            %th Author
            %td= @doujin.authors.map{|i| i.label_name_latin }.sort.join(', ')
        - if @doujin.circles.any?
          %tr
            %th Circle
            %td= @doujin.circles.map{|i| i.label_name_latin }.sort.join(', ')
        %tr
          %th Info
          %td
            = @doujin.num_images
            pages
            &nbsp;~&nbsp;
            = number_to_human_size @doujin.size, precision: 2
        %tr
          %th Score
          %td
            = form_with url: score_doujin_path(@doujin) do |f|
              = f.hidden_field :from_author, value: params[:from_author]
              = f.hidden_field :from_circle, value: params[:from_circle]
              = f.hidden_field :score, value: @doujin.score.to_i
              .scoring
                - (1..10).each do |i|
                  %span.set-score{data: {score: i}, class: ('set' if i <= @doujin.score.to_i)}
                    &#9825;
                &nbsp;&nbsp;
                %span.clear-score{data: {score: 0}}
                  &times;
              - if @doujin.score.to_i > 0 && @doujin.scored_at
                %small.scored_at
                  scored at
                  = l @doujin.scored_at
            :javascript
              jQuery(function () {
                jQuery('.scoring span').click(function () {
                  jQuery('#score').val( jQuery(this).data('score') ).get(0).form.submit();
                });
              })
      
      .actions
        = link_to 'Read'                 , '#', class: :button
        = link_to '&nabla;EPUB'.html_safe , epub_doujinshi_path(convert: @doujin.id), class: :button
        = link_to '&nabla;CBZ' .html_safe , doujin_path(@doujin, format: :cbz ), class: :button
        = link_to '&nabla;ZIP' .html_safe , doujin_path(@doujin, format: :zip ), class: :button
  %tr
    %td.samples(colspan="2")
      = image_tag doujin_path @doujin, format: :jpg, page: 1
      = image_tag doujin_path @doujin, format: :jpg, page: 2
      = image_tag doujin_path @doujin, format: :jpg, page: 3

%br

- url_params = if %w{ artbook magazine }.include?(@doujin.category)
  - { tab: @doujin.category, folder: @doujin.file_folder }
- elsif params[:from_author].present?
  - { tab: :author, author_id: params[:from_author] }
- elsif params[:from_circle].present?
  - { tab: :circle, circle_id: params[:from_circle] }
= link_to 'Back', doujinshi_path(url_params.to_h.merge letter: params[:letter]),
  class: :button, style: "float: right"
