:ruby
  img_params  = ''
  
  if params[:id] && params[:model]
    img_params += ", model: #{params[:model].to_json}" if params[:model].present?
    img_params += ", id:    #{params[:id   ].to_json}" if params[:id   ].present?
  else
    img_params += ", file:  #{params[:file ].to_json}" if params[:file ].present?
  end

:javascript
  // DEBUG HOWTO: decomment lines starting with "//log("
  
  var num_files = #{@num_files};
  var cur_page  = #{params[:page]};
  var resize    = #{params[:nr].to_i == 0};
  var images    = []; // FIFO queue of images to load sequentially
  
  function log (msg) { console.log(msg); }

  function setImgClass (el) {
    var pag_ratio = $(window).width() / $(window).height(); // https://stackoverflow.com/questions/3437786/get-the-size-of-the-screen-current-web-page-and-browser-window/3437825#3437825
    var img_ratio = el.naturalWidth / el.naturalHeight;     // https://www.w3schools.com/jsref/prop_img_naturalwidth.asp
    
    $(el).removeClass('fit-height fit-width');
    
    if (pag_ratio > img_ratio)
      $(el).addClass('fit-height');
    else
      $(el).addClass('fit-width');
  }//setImgClass
  
  function imgPath (page_num) {
    var params = {page: page_num#{img_params}};
    
    if (resize)
      $.extend(params, {h: $(window).height(), w: $(window).width()});
    
    return $('.main').data('image-url') + '?' + $.param(params);
  }//imgPath
  
  function canTurnPage(img) {
    var dom_img   = $(img).get(0);
    var is_loaded = dom_img.complete; // && dom_img.naturalHeight !== 0
    var is_queued = images.some(function (i) { i.el.get(0) == dom_img; });
    
    return images.length < 2 && is_loaded && !is_queued;
  }//canTurnPage

  function turnPage (page_num) {
    var is_on_init = page_num == cur_page;
    
    var img_prev = $('img.prev'),
        img_curr = $('img.curr'),
        img_next = $('img.next');
    
    //log({f: 'turnPage', num: page_num, img_len: images.length })
    
    if (page_num > cur_page) {
      if (page_num < num_files) {
        // go forward
        $('#msg').addClass('hidden');
        
        if (!canTurnPage(img_prev))
          return false;
        
        img_curr.removeClass('curr').addClass('prev hidden');
        img_next.removeClass('next hidden').addClass('curr');
        img_prev.removeClass('prev').addClass('next hidden');
        
        // load next image
        img_prev.removeAttr('src');
        if ((page_num + 1) < num_files)
          render_image('turn', img_prev, imgPath(page_num + 1));
        
        cur_page = page_num;
      } else
        // show finished message
        showAndCenter('#msg');
    } else {
      if (page_num >= 0) {
        // go back
        $('#msg').addClass('hidden');
        
        if (!is_on_init && !canTurnPage(img_next))
          return false;
        
        img_curr.removeClass('curr').addClass('next hidden');
        img_prev.removeClass('prev hidden').addClass('curr');
        img_next.removeClass('next').addClass('prev hidden');
        
        // load previous image
        img_next.removeAttr('src');
        if ((page_num - 1) >= 0)
          render_image('turn', img_next, imgPath(page_num - 1));
        
        cur_page = page_num;
      }//if
    }//if-else
    
    $('#page').val(cur_page);               // menu > jump to
    $('#pag_num .cur').text(cur_page + 1);  // info box on right corner
    
    // update progressbar
    $('#pbar').css('width', ((cur_page + 1) / num_files * 100).toFixed(2) + 'vw');
    
    if ($('#msg').hasClass('hidden') && $('.main').data('turn-url'))
      // save current page on server
      setTimeout(function () {
        $.ajax({
          url: $('.main').data('turn-url'),
          data: { page: cur_page },
          method: 'POST',
          dataType: 'json',
          cache: false,
        });
      }, 1000);
  }//turnPage
  
  function showAndCenter(el) {
    $(el).removeClass('hidden').
      css('left', $(window).width()  / 2 - $(el).outerWidth()  / 2).
      css('top' , $(window).height() / 3 - $(el).outerHeight() / 2);
  }//showAndCenter
  
  // manage page actions like an ebook reader: divide in three parts the screen
  function turnPageByClick (ev) {
    ev.stopImmediatePropagation();
    
    //$('#debug').html($(window).width() + 'screen w<br>' + ev.pageX + 'mouse x<br>' + $(document).scrollLeft() + 'scroll left');
    
    if ($(ev.target).parents('#menu').length > 0 || $('#menu').get(0) === ev.target)
      return; // noop if clicking within the menu
  
    var chunk_size = parseInt( $(window).width() / 3 );
    var x_coord = ev.pageX - $(document).scrollLeft();
    
    if (x_coord < chunk_size)          // tap on left    => go back 1 page
      turnPage(cur_page - 1);
    else if (x_coord > chunk_size * 2) // tap on right   => go forward 1 page
      turnPage(cur_page + 1);
    else                               // tap on middle  => open menu
      if ($('#menu').hasClass('hidden')) {
        showAndCenter('#menu');
        $('table.help').removeClass('hidden');
      } else
        $('#menu, table.help').addClass('hidden');
  }//turnPageByClick
  
  function turnPageByKey (ev) {
    //log({f: 'keypress', key: ev.which});
    
    if (ev.ctrlKey || ev.altKey || $(document.activeElement).is(':input'))
      return true;
    
    if ($.inArray(ev.which, [8, 27, 37, 38, 33, 39, 40, 34, 32]) != -1)
      ev.preventDefault();
    
    if (ev.which == 27) // ESC = exit reading
      window.location = $('.back a').attr('href');
    else if (ev.which == 8 || ev.which == 37 || ev.which == 38 || ev.which == 33) // bkspc|left|up|pgUp
      turnPage(cur_page - 1);
    else if (ev.which == 39 || ev.which == 40 || ev.which == 34 || ev.which == 32) // right|down|pgDn|space
      turnPage(cur_page + 1);
  }//turnPageByKey
  
  function zoomImageToLevel (level) {
    $('#zoom').data('level', level);
    $('.main').css('width', level+'vw').css('height', level+'vh');
    $('body').css('overflow', level == 100 ? 'hidden' : 'auto');
    $('#zoom .perc').text(level == 100 ? '' : level+'%');
  }//zoomImageToLevel
  
  function zoomImage (ev) {
    ev.stopImmediatePropagation();
    
    var increment = $(ev.target).hasClass('inc') ? 50 : -50;
    var level     = parseInt($('#zoom').data('level')) + increment;
    
    if (100 <= level && level <= 300)
      zoomImageToLevel(level);
  }//zoomImage
  
  function render_image (ev_type, el, url) {
    var to_start = images.length == 0;
    
    images.push({ el: $(el), url: url });
    
    if (to_start)
      render_images(ev_type);
  }//render_image
  
  function render_images (ev_type, caller) {
    //log({f: 'render_images', ev: ev_type, caller: caller, img_len: images.length })
    
    // remove finished caller image
    if (caller) {
      var caller_el = $(caller).get(0);
      images = images.filter(function (i) { return i.el.get(0) != caller_el; });
    }//if
    
    // render next image
    if (images[0])
      images[0].el.attr('src', images[0].url);
  }//render_images
  
  (function($){ $(function () {
    // initialize initial images
    render_image('init', $('img.prev'), imgPath(#{params[:page]}) );
    render_image('init', $('img.curr'), imgPath(#{(params[:page] + 1) < @num_files ? (params[:page] + 1) : (@num_files - 1)}));
    
    // turn to the initial request page
    turnPage(#{params[:page]});
    
    // bind reading controls to mouse & keyboard
    $('body').
      on('click', turnPageByClick).
      on('keydown', turnPageByKey);
    
    // bind zoom control
    $('#zoom span').on('click', zoomImage);
    
    // bind background color change
    $('a.set-bg-color').click(function (ev) {
      ev.preventDefault();
      $('div.main').attr('class', 'main bg-' + $(this).data('color'));
    });
    
    // fix a Google Chrome mobile glitch that sometimes clips the bottom of portrait images
    setTimeout(function () { zoomImageToLevel(100) }, 250);
  }); })(jQuery)

- cur_bg_color = is_ereader_browser? ? Setting::READING_BG_COLORS.first : Setting[:reading_bg_color]
.main{class: "bg-#{cur_bg_color}",
      data: { image_url: zip_image_doujinshi_path(format: ''),
              turn_url: params[:turn_url] }}
  %img.prev(class="page hidden" onload="setImgClass(this); render_images('ok', this)" onerror="render_images('err', this)")
  %img.curr(class="page hidden" onload="setImgClass(this); render_images('ok', this)" onerror="render_images('err', this)")
  %img.next(class="page hidden" onload="setImgClass(this); render_images('ok', this)" onerror="render_images('err', this)")
  
#msg.hidden Finished

#pbar-bg
#pbar

#pag_num
  %span.cur>= params[:page] + 1
  \/
  %span.tot>= @num_files

%table.help.hidden
  %tr
    %td(width="33%")
      %span Previous
    %td(width="33%")
      %span Menu
    %td(width="33%")
      %span Next

-# JS: $('#debug').append('<div>- message</div>');
-#debug

#zoom{data: {level: 100}}
  .perc
  .controls
    %span.dec> &minus;
    %span.inc> &plus;

#menu.hidden
  .title
    reading
    %br/
    men&ugrave;
  
  = form_with url: @jump_to[:url], method: :get do |f|
    = hidden_field_tag :nr, params[:nr].to_i
    
    .jump
      - @jump_to[:params].each do |k, v|
        = hidden_field_tag k, v
      %center
        jump to
        %br
        %a.button.skip(href="#" onclick="jQuery(this).next().val((cur_page-10) < 0 ? 0 : (cur_page-10)).change(); return false") <<
        = select_tag :page,
          options_for_select(@num_files.times.map{|i| [i+1, i] }, params[:page]),
          onchange: %Q|this.form.submit()|
        %a.button.skip(href="#" onclick="jQuery(this).prev().val((cur_page+10) > num_files ? num_files : (cur_page+10)).change(); return false") >>
    
    .toggle-hq
      %input.button{type: "submit",
        value: (params[:nr].to_i == 0 ? "toggle auto resize (YES)" : "toggle auto resize (NO)"),
        onclick: "jQuery('#nr').val( 1 - parseInt(jQuery('#nr').val()) )"}
  
  .canvas
    - Setting::READING_BG_COLORS.each do |color|
      %a.set-bg-color.button{href: '#', class: "bg-#{color}", data: {color: color}}<>= color[0].upcase
  
  .back= link_to 'back', params[:ret_url], class: :button
