- bt_read = capture do
  = link_to zip_read_doujinshi_path(file: d.file_path(full: true), format: :ereader),
    title: 'read', target: :_blank,
    class: 'button is-info is-rounded is-small tiny-bt' do
    %span.icon.is-small
      %i.mi.mi-small chrome_reader_mode

- bt_sample = capture do
  - ts = Time.now.to_i
  = link_to doujin_path(d, sample: ts, anchor: "sample-#{ts}"),
    title: 'view sample images', target: :_blank,
    class: 'button is-info is-rounded is-small tiny-bt' do
    %span.icon.is-small
      %i.mi.mi-small casino

- bt_compare = capture do
  = link_to compare_add_doujin_path(d),
    title: 'add to comparison', target: :_blank,
    data: { url: compare_add_doujin_path(d) },
    onclick: "$(this).attr('href', $(this).data('url') + '?mode=' + (confirm('Use a SUBSET of images?') ? 'subset' : 'all'))",
    class: 'button is-info is-rounded is-small tiny-bt' do
    %span.icon.is-small
      %i.mi.mi-small compare

%span
  .is-inline-flex.is-hidden-mobile
    .field.has-addons
      %p.control= bt_read
      %p.control= bt_sample
      - unless DOCKER_VM
        %p.control
          = link_to doujin_path(d, run: :comics_viewer, format: :json),
              title: 'read with external viewer',
              remote: true, class: 'button is-info is-rounded is-small tiny-bt run-progr' do
            %span.icon.is-small
              %i.mi.mi-small launch
        %p.control
          = link_to doujin_path(d, run: :file_manager, format: :json),
              title: 'open in file manager',
              remote: true, class: 'button run-progr is-info is-rounded is-small tiny-bt is-hidden-touch' do
            %span.icon.is-small
              %i.mi.mi-small folder
      %p.control= bt_compare
  
  - if local_assigns[:vertical]
    .is-hidden-tablet
      %p.control.mb-4= bt_read
      %p.control.mb-4= bt_sample
      %p.control= bt_compare
  - else
    .is-inline-flex.is-hidden-tablet
      %p.control.mr-2= bt_read
      %p.control.mr-2= bt_sample
      %p.control= bt_compare
