- if (pd_id = local_assigns[:id] || ProcessableDoujin.find_by(name: fname).try(:id))
  - bt_read = capture do
    = link_to read_process_path(id: pd_id, format: :ereader),
      title: 'read', target: :_blank,
      class: 'button is-info is-rounded is-small tiny-bt' do
      %span.icon.is-small
        %i.mi.mi-small chrome_reader_mode

- bt_sample = capture do
  = link_to sample_images_process_index_path(path: fname),
    title: 'view sample images', target: :_blank,
    class: 'button is-info is-rounded is-small tiny-bt' do
    %span.icon.is-small
      %i.mi.mi-small casino

- bt_compare = capture do
  = link_to compare_add_process_index_path(path: fname),
    title: 'add to comparison', target: :_blank,
    class: 'button is-info is-rounded is-small tiny-bt' do
    %span.icon.is-small
      %i.mi.mi-small compare

.is-inline-flex.is-hidden-mobile
  .field.has-addons
    - if bt_read
      %p.control= bt_read
    %p.control= bt_sample
    %p.control
      = link_to show_externally_process_index_path(path: fname, run: :comics_viewer, format: :json),
        title: 'read with external viewer',
        remote: true, class: 'button run-progr is-info is-rounded is-small tiny-bt is-hidden-touch' do
        %span.icon.is-small
          %i.mi.mi-small launch
    %p.control
      = link_to show_externally_process_index_path(path: fname, run: :file_manager, format: :json),
          title: 'open in file manager',
          remote: true, class: 'button run-progr is-info is-rounded is-small tiny-bt is-hidden-touch' do
        %span.icon.is-small
          %i.mi.mi-small folder
    %p.control= bt_compare

- if local_assigns[:vertical]
  .is-hidden-tablet
    - if bt_read
      %p.control.mb-4= bt_read
    %p.control.mb-4= bt_sample
    %p.control= bt_compare
- else
  .is-inline-flex.is-hidden-tablet
    - if bt_read
      %p.control.mr-2= bt_read
    %p.control.mr-2= bt_sample
    %p.control= bt_compare
