- bt_top = capture do
  %a.button.is-small(href="#page-top")
    %span.icon.is-small
      %i.mi vertical_align_top
- bt_bottom = capture do
  %a.button.is-small(href="#page-bottom")
    %span.icon.is-small
      %i.mi vertical_align_bottom

= form_with url: rename_images_process_path(id: @info[:working_dir]), method: :post do |f|
  = hidden_field_tag :tab, params[:tab]
    
  .field.has-addons.mb-4
    .control.has-icons-left
      .select= f.select :rename_with,
        { "alphabetical index"                  => :alphabetical_index,
          "filename to number"                  => :to_integer,
          "regexp \\1 to number"                => :regex_number,
          "regexp \\1 as prefix, \\2 as number" => :regex_pref_num,
          "regexp \\1 to number, \\2 as prefix" => :regex_num_pref,
          "full regexp replacement"             => :regex_replacement,
        }, {}, class: "input is-rounded"
      %span.icon.is-small.is-left
        %i.mi swap_horiz
    .control.has-icons-left.is-hidden
      = f.text_field :rename_regexp, class: :input, size: 20,
        placeholder: 'regex with captures',
        value: @info[:images_last_regexp],
        data: { last_value: @info[:images_last_regexp] }
      %span.icon.is-small.is-left
        %i.mi settings
    .control.has-icons-left.is-hidden
      = f.text_field :rename_regexp_repl, class: :input, size: 20,
        placeholder: 'replacement',
        value: @info[:images_last_regexp_repl],
        data: { last_value: @info[:images_last_regexp_repl] }
      %span.icon.is-small.is-left
        %i.mi find_replace
    .control
      = f.button type: :button, class: 'button is-rounded is-primary is-light', id: 'bt_keep_names' do
        %span.icon.is-small
          %i.mi check_box_outline_blank
        %span keep names
      = f.check_box :keep_names, {class: 'is-hidden'}, 'true', 'false'
    .control
      = f.button type: :submit, class: 'button is-rounded is-info' do
        %span.icon.is-small
          %i.mi send
        %span Rename

= form_with url: delete_archive_files_process_path(id: @info[:working_dir]), method: :delete do |f|
  = hidden_field_tag :tab, params[:tab]
  
  %table.table.is-striped.is-hoverable(id="filenames")
    %thead
    %tbody
      - if @info[:files].any?
        %tr.has-background-info
          %th.pl-5(colspan=5)
            .files-info
              = "&mdash; #{@info[:files].size} Files &mdash;".html_safe
              - if @info[:files_collision]
                %span.tag.is-danger DUPES!
              - else
                %span.tag.is-success NO DUPES
            .files-actions
              = f.button type: :submit, class: 'button is-rounded is-danger is-light', data: { confirm: 'Delete selected files AND images?' } do
                %span.icon.is-small
                  %i.mi delete
                %span Delete selected
        %tr
          %th
          %th Size
          %th
            = link_to '#', title: 'select all',
              onclick: %Q|jQuery('#filenames tr.files :checkbox').prop('checked', true); return false| do
              %span.icon.is-small
                %i.mi select_all
          %th(colspan=2)
            Dest
            %span.ml-5= bt_bottom
        - @info[:files].each do |f|
          %tr.files
            %td= link_to('🗑', delete_archive_files_process_path(id: @info[:working_dir], path: f[:src_path], tab: params[:tab]),
              method: :delete, data: { confirm: 'Delete this file?' },
              class: 'has-text-danger', title: 'delete file')
            %td.has-text-right= number_to_human_size f[:size]
            %td= check_box_tag 'path[]', f[:src_path], false, id: ''
            %td
              = text_field_tag :file_name, f[:dst_path], id: '', size: 10,
                data: { url: rename_file_process_path, path: f[:src_path] }
              .src-fname= f[:src_path]
            %td.nowrap
              = bt_top
              = bt_bottom
        %tr.files
          %td(colspan=3)
          %td(colspan=2)
            End
            %span.ml-5= bt_top
      
      %tr.has-background-info
        %th.pl-5(colspan=5)
          .files-info
            = "&mdash; #{@info[:images].size} Images &mdash;".html_safe
            - if @info[:images_collision]
              %span.tag.is-danger DUPES!
            - else
              %span.tag.is-success NO DUPES
          .files-actions
            = f.button type: :submit, class: 'button is-rounded is-danger is-light', data: { confirm: 'Delete selected files AND images?' } do
              %span.icon.is-small
                %i.mi delete
              %span Delete selected
      %tr
        %th
        %th Size
        %th
          = link_to '#', title: 'select all',
            onclick: %Q|jQuery('#filenames tr.images :checkbox').prop('checked', true); return false| do
            %span.icon.is-small
              %i.mi select_all
        %th(colspan=2)
          Dest
          %span.ml-5= bt_bottom
      - @info[:images].each do |img|
        %tr.images
          %td= link_to('🗑', delete_archive_files_process_path(id: @info[:working_dir], path: img[:src_path], tab: params[:tab]),
            method: :delete, data: { confirm: 'Delete this file?' },
            class: 'has-text-danger', title: 'delete file')
          %td.has-text-right= number_to_human_size img[:size]
          %td= check_box_tag 'path[]', img[:src_path], false, id: ''
          %td
            = text_field_tag :file_name, img[:dst_path], id: '', size: 50,
              class: 'update-name',
              data: { url: rename_file_process_path, path: img[:src_path] }
            .src-fname= link_to img[:src_path],
              show_image_process_path(id: @info[:working_dir], path: img[:src_path]),
              target: :_blank
          %td.nowrap
            = bt_top
            = bt_bottom
      %tr.images
        %td(colspan=3)
        %td(colspan=2)
          End
          %span.ml-5= bt_top
