.name_orig.mb-1
  %span.icon.in-text-small.mr-2
    %i.mi.mi-small(title="original filename") photo_filter
  = @name[:subjects]

- if @name[:subjects] != @name[:subjects].to_romaji
  .name_romaji.mb-1
    %span.icon.in-text-small.mr-2
      %i.mi.mi-small(title="kakasi filename") translate
    = @name[:subjects].to_romaji alt_readings:true#, furigana_mode: true

.authors-circles.mb-1
  %span.icon.in-text-small.mr-2
    %i.mi.mi-small(title="search by circle") supervised_user_circle
  .tags.inline-block.mb-0
    - @name[:ac_explicit].each do |ac|
      = link_to ac, {term: ac, tab: params[:tab]}, class: "tag mb-0 #{'has-text-warning' if ac == params[:term]}"
  
  %span.icon.in-text-small.mr-2.ml-4
    %i.mi.mi-small(title="search by author") supervisor_account
  .tags.inline-block.mb-0
    - @name[:ac_implicit].each do |ac|
      = link_to ac, {term: ac, tab: params[:tab]}, class: "tag mb-0 #{'has-text-warning' if ac == params[:term]} has-background-grey"

.free-search.mb-1
  = form_with url: edit_process_path, method: :get do |f|
    = f.hidden_field :tab, value: params[:tab]
    %span.icon.in-text-small.mr-2
      %i.mi.mi-small(title="terms for catalog search") search
    = f.text_field :term, value: params[:term], placeholder: 'search term', class: 'input is-small vmiddle', style: 'width: 15rem'
    = f.button class: 'button is-small' do
      %span.icon
        %i.mi.mi-small(title="search") person_search
    %span.mx-4
      = link_to :A, Author.doujinshi_org_search_url(params[:term]), target: :_blank, title: "search author on doujinshi.org"
      = link_to :C, Circle.doujinshi_org_search_url(params[:term]), target: :_blank, title: "search circle on doujinshi.org"

= render partial: 'ident_dest_folder'

- term_re = Regexp.new Regexp.escape(params[:term].to_s), Regexp::IGNORECASE

.columns.search-results.mt-3
  .column(class="associated")
    .title.is-4 Associations
    
    = form_with url: set_property_process_path do |f|
      = f.hidden_field :tab , value: params[:tab]
      = f.hidden_field :term, value: params[:term]
      - %w{  circle author }.each do |type|
        - if instance_variable_get("@associated_#{type.pluralize}").any?
          .subtitle.mb-0= type.capitalize.pluralize
          .subject-list.pl-2.mb-5
            - instance_variable_get("@associated_#{type.pluralize}").each do |r|
              - members = r.send(type == 'author' ? :circles : :authors).order(:name)
              - members = members.map{|m| "• #{m.label_name_kanji} // #{m.label_name_latin} (#{m.doujinshi_org_id})" }
              - subject_title = members.join("\n") if members.any?
              
              .subject(title=subject_title)
                = f.radio_button :doujin_dest_id, "#{type}-#{r.id}",
                  checked: "#{type}-#{r.id}" == "#{@info[:doujin_dest_type]}-#{@info[:doujin_dest_id]}",
                  onchange: "this.form.submit()"
                - name = r.name.present? ? r.name : r.name_kana
                - if r.doujinshi_org_id
                  = link_to({action: :set_property, "#{type.singularize}_id" => r.id, tab: params[:tab], term: params[:term]},
                    title: "remove association", method: :post, data: {confirm: 'remove association?'}) do
                    %span.icon.in-text.has-text-primary
                      %i.mi remove
                  - name_hl = h(name).gsub(term_re, %Q|<span class="has-text-warning">\\0</span>|).html_safe
                  = link_to name_hl, r.doujinshi_org_full_url, target: :_blank, title: "view on doujinshi.org"
                - else
                  = link_to :A, Author.doujinshi_org_search_url(name), target: :_blank, title: "search author on doujinshi.org"
                  = link_to :C, Circle.doujinshi_org_search_url(name), target: :_blank, title: "search circle on doujinshi.org"
                  = name
                %span.is-size-7 /
                %span.has-text-grey.is-size-7
                  - name = r.name_romaji.present? ? r.name_romaji : r.name_kakasi
                  = h(name).gsub(term_re, %Q|<span class="has-text-warning">\\0</span>|).html_safe
  
  - %w{ circles authors }.each do |type|
    .column{class: type}
      .title.is-4= "#{type.capitalize} search"
      
      - instance_variable_get("@#{type}").each do |r|
        - is_associated = @info["#{type.singularize}_ids".to_sym].to_a.include? r.id
        
        .block{class: "#{'associated has-background-grey-darker' if is_associated}"}
          %span.name_orig
            - name = r.label_name_kanji
            - if r.doujinshi_org_id
              = link_to({action: :set_property, "#{type.singularize}_id" => r.id, tab: params[:tab], term: params[:term]},
                title: "#{is_associated ? :remove : :add} association", method: :post) do
                %span.icon.in-text.has-text-primary
                  %i.mi= is_associated ? :remove : :add
              - if r[:num_dj].to_i > 0
                %span.tag.is-info(title="number of doujinshi associated")= r[:num_dj]
              - name_hl = h(name).gsub(term_re, %Q|<span class="has-text-warning">\\0</span>|).html_safe
              = link_to name_hl, r.doujinshi_org_full_url, target: :_blank, title: "view on doujinshi.org"
            - else
              = link_to :A, Author.doujinshi_org_search_url(name), target: :_blank, title: "search author on doujinshi.org"
              = link_to :C, Circle.doujinshi_org_search_url(name), target: :_blank, title: "search circle on doujinshi.org"
              = name
              
          %span.name_romaji.has-text-grey.is-size-7
            %span.has-text-info /
            = h(r.label_name_latin).gsub(term_re, %Q|<span class="has-text-warning">\\0</span>|).html_safe
          
          - members_name = type == 'authors' ? :circles : :authors
          - members = r.send(members_name).order(:name)
          - if members.any?
            .related_names.is-size-7.pl-4
              %ul
                - members.each do |m|
                  - am = instance_variable_get("@associated_#{members_name}")
                  - is_associated = am.any?{|i| i.doujinshi_org_id == m.doujinshi_org_id }
                  %li
                    %span{class: ('associated' if is_associated)}= link_to m.label_name_kanji, m.doujinshi_org_full_url, target: :_blank,
                      title: "view on doujinshi.org", class: 'has-text-white'
                    %span.has-text-info /
                    %span.has-text-grey= m.label_name_latin
