.container.is-max-desktop
  - if @refreshing
    .columns
      .column.is-1 refreshing
      .column.is-3
        %progress.progress.is-small.is-primary
    
    :javascript
      setTimeout(function () { window.location.reload(); }, 5000)
  - else
    - if @batches.any?
      .title.is-size-4= "Batch processing (#{@batches.size})"

      %table.table.is-striped.is-hoverable.ml-4
        %tbody
          - @batches.each do |f|
            %tr
              %td= link_to('🗑', batch_process_path(id: f[:hash]),
                method: :delete, data: { confirm: 'Delete this batch job?' },
                class: 'has-text-danger', title: 'delete batch job')
              %td
                = link_to batch_process_path(id: f[:hash]) do
                  #{f[:time].strftime('%F %T')} / 
                  %span.is-family-monospace #{f[:hash][0..10]}...

    - if @preparing.any?
      .title.is-size-4= "Processing archives (#{@preparing.size})"

      %table.table.is-striped.is-hoverable.ml-4
        %tbody
          - @preparing.each do |f|
            %tr
              %td= link_to('🗑', {action: :delete_archive_cwd, id: f[:working_dir]},
                method: :delete, data: { confirm: 'Delete this processing folder?' },
                class: 'has-text-danger', title: 'delete processing folder')
              %td.has-text-right= number_to_human_size f[:tot_size]
              %td= link_to f[:relative_path], action: :edit, id: f[:working_dir]

    -# files listing
    = form_with url: prepare_batch_process_index_path, method: :post do |f|
      .title.is-size-4= "Processable archives (#{@files.total_count})"
      
      .actions
        .field.has-addons.mb-4.is-justify-content-end
          .control
            = link_to '#', class: 'bt-batch button is-link is-small',
              onclick: %Q|jQuery('.batch-bt, td.rm-or-batch > *, td.batch, .bt-reindex, .bt-preview').toggleClass('is-hidden'); return false| do
              %span.icon.is-small
                %i.mi.mi-small inventory_2
              %span batch
          .control.batch-bt.is-hidden
            = link_to '#', class: 'bt-toggle-all button is-small',
              onclick: %Q|jQuery('td.rm-or-batch :checkbox').each(function(){ $(this).prop('checked', !$(this).prop('checked')) }).first(); jQuery.app.update_tot_filesize(); return false| do
              %span.icon.is-small
                %i.mi select_all
              %span toggle
          .control.batch-bt.is-hidden
            = f.button type: :submit, class: 'button is-small' do
              %span.icon.is-small
                %i.mi send
              %span prepare
              %span.tot-file-size.is-size-8.ml-1
          .control
            = link_to({refresh: true}, class: 'bt-reindex button is-info is-small') do
              %span.icon.is-small
                %i.mi.mi-small refresh
              %span refresh
          .control
            = link_to({preview: true}, class: 'bt-preview button is-info is-small') do
              %span.icon.is-small
                %i.mi.mi-small preview
              %span preview
      
      - if @files.empty?
        %em no files to process
      - else
        = page_entries_info @files

        %table.to_process.table.is-striped.is-hoverable.ml-4
          %tbody
            - @files.each_with_index do |f, idx|
              - has_thumb = File.exist?(f.thumb_path)
              
              %tr{data: {id: f.id}}
                %td.rm-or-batch
                  = link_to('🗑', {action: :delete_archive, path: f.name},
                    method: :delete, data: { confirm: 'Delete this file?' },
                    class: 'has-text-danger', title: 'delete file')
                  .file-select.is-hidden= check_box_tag 'file_ids[]', f.id, false,
                    id: '', data: {size: f.size}, tabindex: (1000+idx)
                %td.batch.file-size.has-text-right= number_to_human_size f.size
                %td.batch= render partial: 'file_actions', locals: {fname: f.name, id: f.id, vertical: true}
                %td
                  .name
                    - if @preparing_paths.include?(f.name)
                      %span.tag.is-warning(title="processing") 🛠
                    = link_to f.name, action: :prepare_archive, path: f.name
                    - unless has_thumb
                      = link_to({preview: true, id: f.id},
                        title: 'generate file preview', target: :_blank,
                        class: 'button is-info is-rounded is-small tiny-bt ml-2') do
                        %span.icon.is-small
                          %i.mi.mi-small preview
                  - if f.name != f.name_kakasi
                    .name_kakasi.is-size-7= f.name_kakasi
              - if has_thumb
                %tr
                  %td
                  %td(colspan=3)
                    %figure.image
                      = link_to f.thumb_url(mobile: true), target: :_blank do
                        %picture
                          %source{media: "(min-width: 769px)", srcset: f.thumb_url(mobile: false) }/
                          %source{media: "(min-width: 320px)", srcset: f.thumb_url(mobile: true ) }/
                          %img{src: f.thumb_url(mobile: true)}/
        
        = paginate @files
