.container.is-max-desktop
  - if @refreshing
    .columns
      .column.is-1 refreshing
      .column.is-3
        %progress.progress.is-small.is-primary
    
    :javascript
      setTimeout(function () { window.location.reload(); }, 5000)
  - else
    - if @preparing.any?
      .title.is-size-4= "Processing archives (#{@preparing.size})"

      %table.table.is-striped.is-hoverable.ml-4
        %tbody
          - @preparing.each_with_index do |f, i|
            %tr
              %td= link_to('🗑', {action: :delete_archive_cwd, id: f[:working_dir]},
                method: :delete, data: { confirm: 'Delete this processing folder?' },
                class: 'has-text-danger', title: 'delete processing folder')
              %td.has-text-right= number_to_human_size f[:tot_size]
              %td= link_to f[:relative_path], action: :edit, id: f[:working_dir]

    .title.is-size-4
      = "Processable archives (#{@files.count})"
      = link_to 'refresh list', {refresh: true}, class: 'button is-info is-small is-rounded', style: 'vertical-align: middle'

    - if @files.empty?
      %em no files to process
    - else
      = page_entries_info @files

      %table.table.is-striped.is-hoverable.ml-4
        %tbody
          - @files.each do |f|
            %tr
              %td= link_to('🗑', {action: :delete_archive, path: f.name},
                method: :delete, data: { confirm: 'Delete this file?' },
                class: 'has-text-danger', title: 'delete file')
              %td.has-text-right= number_to_human_size f.size
              %td.is-hidden-mobile= render partial: 'file_actions', locals: {fname: f.name}
              %td
                .name
                  - if @preparing_paths.include?(f.name)
                    %span.tag.is-warning(title="processing") 🛠
                  = link_to f.name, action: :prepare_archive, path: f.name
                - if f.name != f.name_kakasi
                  .name_kakasi.is-size-7= f.name_kakasi
      
      = paginate @files
