.title.is-size-4
  = "#{@model.name} details"
  - if @record.doujinshi_org_aka_id.present?
    %span.tag.is-danger= link_to "deprecated by ID [#{@record.alias_parent.id}]", id: @record.alias_parent.id

%table.table.is-striped.is-fullwidth
  %tr
    %th
      .name Name Romaji
      .name Name Kakasi
    %td
      .columns
        .column
          .name-romaji=           @record.name_romaji if @record.name_romaji.present?
          .name-kakasi.is-italic= @record.name_kakasi if @record.name_kakasi.present?
        .column.is-3
          .name-romaji= links_to_search_engines(@record.name_romaji) if @record.name_romaji.present?
          .name-kakasi= links_to_search_engines(@record.name_kakasi) if @record.name_kakasi.present?
  %tr
    %th
      .name Name Kanji
      .name Name Kana
    %td
      .columns
        .column
          .name-kanji=          @record.name      if @record.name.present?
          .name-kana.is-italic= @record.name_kana if @record.name_kana.present?
        .column.is-3
          .name-kanji= links_to_search_engines(@record.name     ) if @record.name.present?
          .name-kana=  links_to_search_engines(@record.name_kana) if @record.name_kana.present?
  - if @record.info.present?
    %tr
      %th Info
      %td.content
        %pre>= @record.info
  - if @record.aliases.present?
    %tr
      %th Aliases
      %td.content
        %ul
          - @record.aliases.split("\n").each do |a|
            %li= link_to_exhentai_search a
  - if @record.links.present?
    %tr
      %th Links
      %td.content
        %ul
          - @record.links.split("\n").each do |l|
            %li= l.start_with?('http') ? link_to(l, l, target: :_blank) : l
  - if @record.notes.present?
    %tr
      %th Notes
      %td.content
        %pre>= @record.notes
  %tr
    %th Other
    %td
      .field.is-grouped.is-grouped-multiline
        - if @record.doujinshi_org_id
          .control
            .tags.has-addons
              %span.tag.is-info Dj.org
              = link_to @record.doujinshi_org_id, @record.doujinshi_org_full_url, class: 'tag is-info is-light', target: :_blank
        - if @model.column_names.include?('favorite')
          .control
            .tags.has-addons
              %span.tag.is-info Favorite
              = link_to '&star;'.html_safe, fav_toggle_doujinshi_path(type: @model, id: @record.id),
                title: ("faved @ #{l @record.faved_at}" if @record.favorite? && @record.faved_at),
                class: "tag is-info is-light fav #{'has-text-warning' if @record.favorite?}"
  
  - if @record.alias_children.any?
    %tr
      %th Aliases (Local|Dj.org)
      %td
        .field.is-grouped.is-grouped-multiline
          - @record.alias_children.each do |ac|
            .control
              .tags.has-addons
                %span.tag.is-info= link_to ac.id, {id: ac.id}, target: :_blank
                = link_to ac.doujinshi_org_id, ac.doujinshi_org_full_url, class: 'tag is-info is-light', target: :_blank
  
  - ([Author, Circle, Theme] - [@model]).each do |model|
    - rel_name = model.name.pluralize.downcase
    %tr
      %th= "Related #{model.name.pluralize}"
      %td
        .tags
          - rel = @record.send(rel_name).order(Arel.sql "COALESCE(NULLIF(name_romaji, ''), NULLIF(name_kakasi, ''))")
          - rel.select(:id, :name_romaji, :name_kakasi).each do |assoc|
            %span.tag.is-link.is-light
              = link_to assoc.label_name_latin,
                {controller: rel_name, action: :show, id: assoc.id},
                target: :_blank
  
  %tr
    %th Timestamps
    %td
      .field.is-grouped.is-grouped-multiline
        .control
          .tags.has-addons
            %span.tag.is-info Created at
            %span.tag.is-info.is-light= l @record.created_at
        .control
          .tags.has-addons
            %span.tag.is-info Updated at
            %span.tag.is-info.is-light= l @record.updated_at

= render 'application/metadata/actions'
