= form_for @circle do |f|
  - if @circle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@circle.errors.count, "error")} prohibited this circle from being saved:"
      %ul
        - @circle.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :name_romaji
    = f.text_field :name_romaji
  .field
    = f.label :name_kana
    = f.text_field :name_kana
  .field
    = f.label :name_kakasi
    = f.text_field :name_kakasi
  .field
    = f.label :doujinshi_org_url
    = f.text_field :doujinshi_org_url
  .field
    = f.label :info
    = f.text_area :info
  .field
    = f.label :aliases
    = f.text_area :aliases
  .field
    = f.label :links
    = f.text_area :links
  .actions
    = f.submit 'Save'
