!!!
%html.has-navbar-fixed-top
  %head
    %meta(charset="utf-8")/
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(content="width=device-width,initial-scale=1" name="viewport")/
    %meta(name="mobile-web-app-capable" content="yes")/
    
    %title= "DjMngr | #{@page_title || params[:controller]}"
    
    = csrf_meta_tags
    = csp_meta_tag
    
    -#= yield :head
    
    -# https://developer.mozilla.org/en-US/docs/Web/Manifest
    %link(rel="manifest" href="/manifest.json")/
    %link(rel="icon" href="/pwa/icon-512.png" type="image/png")/
    %link(rel="icon" href="/pwa/icon.svg" type="image/svg+xml")/
    %link(rel="icon" href="/favicon.ico" type="image/x-icon")/
    %link(rel="shortcut icon" href="/favicon.ico")/
    %link(rel="apple-touch-icon" href="/pwa/icon-512.png" sizes="512x512")/
    %link(rel="mask-icon" href="/pwa/icon-monochrome.svg" color="#1f2424")/
    
    = stylesheet_link_tag    "01_libs"
    = stylesheet_link_tag    "02_application"
    = javascript_include_tag "01_libs"
    = javascript_include_tag "02_application"
  %body{data: {env: Rails.env.to_s, ctrl: params[:controller], action: params[:action], id: params[:id]}}
    %a(name="page-top")
    
    = render partial: '/layouts/menu'

    %section.section.main-content
      = render partial: '/layouts/messages'
      = yield

    = render partial: '/layouts/modals'

    #mobile-toolbar.is-hidden-desktop
      = link_to '#', class: 'button is-primary nsfw-mode-toggle' do
        %span.icon-text
          %span.icon
            %i.mi shield

    %a(name="page-bottom")
